<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Paul Revere</title>
  <meta name="description" content="Add to courses watch">
  <meta name="author" content="Me">

  <style>
    p {
      font: 30px calibri;
    }
    input {
      font-size:14pt;
    }
  </style>
</head>

<body>
  <h1>
    Add a course to the queue:
  </h1>

  <form method="post" action="" >
    <p>
      Course code: <input name="code" size="30" />
    </p>
    <p>
      Email: <input name="email" size="30" />
    </p>
      <input type="submit" name="Submit" value="Add" />
  </form>

    {% if val %}
        <p>
          {{ val|safe }}
        </p>
    {% endif %}
</body>
</html>
